@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --wenge: #584B53;
  --rose-taupe: #9D5C63;
  --lavender: #D6E3F8;
  --seashell: #FEF5EF;
  --dessert-sand: #E4BB97;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
